<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmdt.yudo.gov.mapper.TuLoginMapper" >
  <resultMap id="BaseResultMap" type="com.cmdt.yudo.gov.model.TuLogin" >
    <id column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="batt_cnt" property="battCnt" jdbcType="INTEGER" />
    <result column="batt_code_len" property="battCodeLen" jdbcType="INTEGER" />
    <result column="batt_codes" property="battCodes" jdbcType="VARCHAR" />
    <result column="batt_id" property="battId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="gb_hex" property="gbHex" jdbcType="VARCHAR" />
    <result column="hex_str" property="hexStr" jdbcType="VARCHAR" />
    <result column="iccid" property="iccid" jdbcType="VARCHAR" />
    <result column="login_sn" property="loginSn" jdbcType="VARCHAR" />
    <result column="login_status" property="loginStatus" jdbcType="INTEGER" />
    <result column="mcuactutem" property="mcuactutem" jdbcType="VARCHAR" />
    <result column="sim_phone_num" property="simPhoneNum" jdbcType="VARCHAR" />
    <result column="plate_num" property="plateNum" jdbcType="VARCHAR" />
    <result column="prot_ver" property="protVer" jdbcType="VARCHAR" />
    <result column="protocol_id" property="protocolId" jdbcType="VARCHAR" />
    <result column="trace_time" property="traceTime" jdbcType="TIMESTAMP" />
    <result column="tsp_sn" property="tspSn" jdbcType="VARCHAR" />
    <result column="tu_supplier_code" property="tuSupplierCode" jdbcType="VARCHAR" />
    <result column="tu_serial_code" property="tuSerialCode" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="veh_type" property="vehType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    vin, batt_cnt, batt_code_len, batt_codes, batt_id, create_time, gb_hex, hex_str, 
    iccid, login_sn, login_status, mcuactutem, sim_phone_num, plate_num, prot_ver, protocol_id, 
    trace_time, tsp_sn, tu_supplier_code, tu_serial_code, update_time, veh_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tu_login
    where vin = #{vin,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tu_login
    where vin = #{vin,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmdt.yudo.gov.model.TuLogin" >
    insert into tu_login (vin, batt_cnt, batt_code_len, 
      batt_codes, batt_id, create_time, 
      gb_hex, hex_str, iccid, 
      login_sn, login_status, mcuactutem, 
      sim_phone_num, plate_num, prot_ver, 
      protocol_id, trace_time, tsp_sn, 
      tu_supplier_code, tu_serial_code, update_time, 
      veh_type)
    values (#{vin,jdbcType=VARCHAR}, #{battCnt,jdbcType=INTEGER}, #{battCodeLen,jdbcType=INTEGER}, 
      #{battCodes,jdbcType=VARCHAR}, #{battId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{gbHex,jdbcType=VARCHAR}, #{hexStr,jdbcType=VARCHAR}, #{iccid,jdbcType=VARCHAR}, 
      #{loginSn,jdbcType=VARCHAR}, #{loginStatus,jdbcType=INTEGER}, #{mcuactutem,jdbcType=VARCHAR}, 
      #{simPhoneNum,jdbcType=VARCHAR}, #{plateNum,jdbcType=VARCHAR}, #{protVer,jdbcType=VARCHAR}, 
      #{protocolId,jdbcType=VARCHAR}, #{traceTime,jdbcType=TIMESTAMP}, #{tspSn,jdbcType=VARCHAR}, 
      #{tuSupplierCode,jdbcType=VARCHAR}, #{tuSerialCode,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{vehType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmdt.yudo.gov.model.TuLogin" >
    insert into tu_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vin != null" >
        vin,
      </if>
      <if test="battCnt != null" >
        batt_cnt,
      </if>
      <if test="battCodeLen != null" >
        batt_code_len,
      </if>
      <if test="battCodes != null" >
        batt_codes,
      </if>
      <if test="battId != null" >
        batt_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="gbHex != null" >
        gb_hex,
      </if>
      <if test="hexStr != null" >
        hex_str,
      </if>
      <if test="iccid != null" >
        iccid,
      </if>
      <if test="loginSn != null" >
        login_sn,
      </if>
      <if test="loginStatus != null" >
        login_status,
      </if>
      <if test="mcuactutem != null" >
        mcuactutem,
      </if>
      <if test="simPhoneNum != null" >
        sim_phone_num,
      </if>
      <if test="plateNum != null" >
        plate_num,
      </if>
      <if test="protVer != null" >
        prot_ver,
      </if>
      <if test="protocolId != null" >
        protocol_id,
      </if>
      <if test="traceTime != null" >
        trace_time,
      </if>
      <if test="tspSn != null" >
        tsp_sn,
      </if>
      <if test="tuSupplierCode != null" >
        tu_supplier_code,
      </if>
      <if test="tuSerialCode != null" >
        tu_serial_code,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="vehType != null" >
        veh_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vin != null" >
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="battCnt != null" >
        #{battCnt,jdbcType=INTEGER},
      </if>
      <if test="battCodeLen != null" >
        #{battCodeLen,jdbcType=INTEGER},
      </if>
      <if test="battCodes != null" >
        #{battCodes,jdbcType=VARCHAR},
      </if>
      <if test="battId != null" >
        #{battId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gbHex != null" >
        #{gbHex,jdbcType=VARCHAR},
      </if>
      <if test="hexStr != null" >
        #{hexStr,jdbcType=VARCHAR},
      </if>
      <if test="iccid != null" >
        #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="loginSn != null" >
        #{loginSn,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null" >
        #{loginStatus,jdbcType=INTEGER},
      </if>
      <if test="mcuactutem != null" >
        #{mcuactutem,jdbcType=VARCHAR},
      </if>
      <if test="simPhoneNum != null" >
        #{simPhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="plateNum != null" >
        #{plateNum,jdbcType=VARCHAR},
      </if>
      <if test="protVer != null" >
        #{protVer,jdbcType=VARCHAR},
      </if>
      <if test="protocolId != null" >
        #{protocolId,jdbcType=VARCHAR},
      </if>
      <if test="traceTime != null" >
        #{traceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tspSn != null" >
        #{tspSn,jdbcType=VARCHAR},
      </if>
      <if test="tuSupplierCode != null" >
        #{tuSupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="tuSerialCode != null" >
        #{tuSerialCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vehType != null" >
        #{vehType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmdt.yudo.gov.model.TuLogin" >
    update tu_login
    <set >
      <if test="battCnt != null" >
        batt_cnt = #{battCnt,jdbcType=INTEGER},
      </if>
      <if test="battCodeLen != null" >
        batt_code_len = #{battCodeLen,jdbcType=INTEGER},
      </if>
      <if test="battCodes != null" >
        batt_codes = #{battCodes,jdbcType=VARCHAR},
      </if>
      <if test="battId != null" >
        batt_id = #{battId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gbHex != null" >
        gb_hex = #{gbHex,jdbcType=VARCHAR},
      </if>
      <if test="hexStr != null" >
        hex_str = #{hexStr,jdbcType=VARCHAR},
      </if>
      <if test="iccid != null" >
        iccid = #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="loginSn != null" >
        login_sn = #{loginSn,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null" >
        login_status = #{loginStatus,jdbcType=INTEGER},
      </if>
      <if test="mcuactutem != null" >
        mcuactutem = #{mcuactutem,jdbcType=VARCHAR},
      </if>
      <if test="simPhoneNum != null" >
        sim_phone_num = #{simPhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="plateNum != null" >
        plate_num = #{plateNum,jdbcType=VARCHAR},
      </if>
      <if test="protVer != null" >
        prot_ver = #{protVer,jdbcType=VARCHAR},
      </if>
      <if test="protocolId != null" >
        protocol_id = #{protocolId,jdbcType=VARCHAR},
      </if>
      <if test="traceTime != null" >
        trace_time = #{traceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tspSn != null" >
        tsp_sn = #{tspSn,jdbcType=VARCHAR},
      </if>
      <if test="tuSupplierCode != null" >
        tu_supplier_code = #{tuSupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="tuSerialCode != null" >
        tu_serial_code = #{tuSerialCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vehType != null" >
        veh_type = #{vehType,jdbcType=VARCHAR},
      </if>
    </set>
    where vin = #{vin,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmdt.yudo.gov.model.TuLogin" >
    update tu_login
    set batt_cnt = #{battCnt,jdbcType=INTEGER},
      batt_code_len = #{battCodeLen,jdbcType=INTEGER},
      batt_codes = #{battCodes,jdbcType=VARCHAR},
      batt_id = #{battId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      gb_hex = #{gbHex,jdbcType=VARCHAR},
      hex_str = #{hexStr,jdbcType=VARCHAR},
      iccid = #{iccid,jdbcType=VARCHAR},
      login_sn = #{loginSn,jdbcType=VARCHAR},
      login_status = #{loginStatus,jdbcType=INTEGER},
      mcuactutem = #{mcuactutem,jdbcType=VARCHAR},
      sim_phone_num = #{simPhoneNum,jdbcType=VARCHAR},
      plate_num = #{plateNum,jdbcType=VARCHAR},
      prot_ver = #{protVer,jdbcType=VARCHAR},
      protocol_id = #{protocolId,jdbcType=VARCHAR},
      trace_time = #{traceTime,jdbcType=TIMESTAMP},
      tsp_sn = #{tspSn,jdbcType=VARCHAR},
      tu_supplier_code = #{tuSupplierCode,jdbcType=VARCHAR},
      tu_serial_code = #{tuSerialCode,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      veh_type = #{vehType,jdbcType=VARCHAR}
    where vin = #{vin,jdbcType=VARCHAR}
  </update>
</mapper>