<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="RoleMapper">

  <sql id="Base_Column_List">
    role_id, role_name, create_time, update_time
  </sql>


    <insert id="insert" parameterType="java.util.Map">
    insert into rain_role(role_id, role_name, create_time,
      update_time)
    values (#{roleId}, #{roleName}, #{createTime},
      #{updateTime})
  </insert>

    <!--  <insert id="insertSelective" parameterType="java.util.Map">
          insert into rain_role
          <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="roleId != null">
                  role_id,
              </if>
              <if test="roleName != null">
                  role_name,
              </if>
              <if test="createTime != null">
                  create_time,
              </if>
              <if test="updateTime != null">
                  update_time,
              </if>
          </trim>
          <trim prefix="values (" suffix=")" suffixOverrides=",">
              <if test="roleId != null">
                  #{roleId,jdbcType=INTEGER},
              </if>
              <if test="roleName != null">
                  #{roleName,jdbcType=VARCHAR},
              </if>
              <if test="createTime != null">
                  #{createTime,jdbcType=DATE},
              </if>
              <if test="updateTime != null">
                  #{updateTime,jdbcType=DATE},
              </if>
          </trim>
      </insert>
      <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
          update rain_role
          <set>
              <if test="roleName != null">
                  role_name = #{roleName,jdbcType=VARCHAR},
              </if>
              <if test="createTime != null">
                  create_time = #{createTime,jdbcType=DATE},
              </if>
              <if test="updateTime != null">
                  update_time = #{updateTime,jdbcType=DATE},
              </if>
          </set>
          where role_id = #{roleId,jdbcType=INTEGER}
      </update>
      <update id="updateByPrimaryKey" parameterType="java.util.Map">
      update rain_role
      set role_name = #{roleName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=DATE},
        update_time = #{updateTime,jdbcType=DATE}
      where role_id = #{roleId,jdbcType=INTEGER}
    </update>-->
</mapper>